# Control Flow
## Practice Problems

### 1. Write a conditional that prints different messages if a bank account balance is below `$`3,000, between `$`3,000 and `$`10,000, or over `$`10,000.

HINT: You can check if a value `x` is between two other values with a condition like `5 <= x <= 10`, but you can also solve this problem by strategically ordering conditions.

In [8]:
# Your code goes here

balance = 2900

if balance < 3000:
    print('Balance is below $3,000')

elif 3000 <= balance <= 10000:
    print('Balance is within range $3,000 - $10,000')

else: 
    print('Balance is over $10,000')

Balance is below $3,000

<details>
  <summary>Answer</summary>

  ```python
  balance = 3000

  if balance < 3000:
    print('Your balance is under $3,000')
  elif balance <= 10000:
    print('Your balance is between $3,000 and $10,000')
  else:
    print('Your balance is over $10,000.')

  # This would also be a valid solution:
  
  if balance < 3000:
    print('Your balance is under $3,000')
  elif balance >= 3000 and balance <= 10000:
    print('Your balance is between $3,000 and $10,000')
  else:
    print('Your balance is over $10,000.')

  # And so would this:

  if balance < 3000:
    print('Your balance is under $3,000')
  elif 3000 <= balance <= 10000:
    print('Your balance is between $3,000 and $10,000')
  else:
    print('Your balance is over $10,000.')
  ```
</details>

### 2. Create a list, `books`, containing the following items: `'War and Peace', 'Pride and Prejudice', 'Mockingjay', 'Three Musketeers', 'The Adventures of Robinson Crusoe', 'Yevgeniy Onegin'`. Then:

- Using slicing or indexing, create the following:
    - An empty list
    - The last item of `books`
    - List of three items: 'Three Musketeers', 'The Adventures of Robinson Crusoe', 'Yevgeniy Onegin'.
   
- Using list methods:
    - Remove 'Pride and Prejudice' from the list.
    - Insert 'Harry Potter and the Chamber of Secrets' after 'Mockingjay'.

HINT: Try using the same number as the starting index and ending index of a slice. Useful list methods include `remove()` and `insert()`.

In [9]:
# Your code goes here

books = ['War and Peace', 'Pride and Prejudice', 'Mockingjay', 'Three Musketeers', 'The Adventures of Robinson Crusoe', 'Yevgeniy Onegin']

print('An empty list: ', books[0:0])
print('The last item of books: ', books[-1])
print('List of the last 3 items of books: ', books[-3:])

rem = books.remove('Pride and Prejudice')
print('Removing Pride and Prejudice: ',rem)

ins = books.insert(2, 'Harry Potter and the Chamber of Secrets')
print('Inserting Harry Potter and the Chamber of Secrets: ',ins)

print('Updated books list: ',books)

An empty list:  []
The last item of books:  Yevgeniy Onegin
List of the last 3 items of books:  ['Three Musketeers', 'The Adventures of Robinson Crusoe', 'Yevgeniy Onegin']
Removing Pride and Prejudice:  None
Inserting Harry Potter and the Chamber of Secrets:  None
Updated books list:  ['War and Peace', 'Mockingjay', 'Harry Potter and the Chamber of Secrets', 'Three Musketeers', 'The Adventures of Robinson Crusoe', 'Yevgeniy Onegin']

<details>
  <summary>Answer</summary>

  ```python
  books = ['War and Peace', 'Pride and Prejudice', 'Mockingjay', 'Three Musketeers', 'The Adventures of Robinson Crusoe', 'Yevgeniy Onegin']

  # an empty list
  books[0:0]

  # the last item
  books[-1]

  # the last three items
  books[-3:]

  # remove 'Pride and Prejudice'
  books.remove('Pride and Prejudice')

  # Insert Harry Potter and the Chamber of Secrets after Mockingjay
  # If you did not remove Pride and Prejudice, the index would be 3, not 2
  books.insert(2, 'Harry Potter and the Chamber of Secrets')

  books
  ```
</details>

### 3. Given the list `people`, sort it by people's first name, last name and age. Store the sorted lists as `by_first_name`, `by_last_name`, and `by_age`, respectively.  
`people = [('Mark', 'Harrison', 56), ('Ken', 'Wolseley', 23), ('Emily', 'Robinson', 77)]`

HINT 1: We want our sorting function to return a new list, rather than modifying in place.

HINT 2: `sorted()` accepts a `key` argument. This argument is the name of a function to use when sorting list elements.

In [10]:
# Your code goes here

people = [('Mark', 'Harrison', 56), ('Ken', 'Wolseley', 23), ('Emily', 'Robinson', 77)] # a list of tuples (not a 3X3 array)

sorted(people) # this automatically sorts by the first element it encounters, which is the 1st element in the tuples. "E" then "K" then "M".

[('Emily', 'Robinson', 77), ('Ken', 'Wolseley', 23), ('Mark', 'Harrison', 56)]

In [11]:
people[0] # This just gives me the 1st tuple in the list of tuples

('Mark', 'Harrison', 56)

In [18]:
# For exploration purposes only. We're pulling out the lists in the tuple.

'''
tup1 = people[0] # 1st tuble in the people list
tup2 = people[1] # 2nd tuble in the people list
tup3 = people[2] # 3rd tuble in the people list

print("1st Tuple in people list: ",tup1)
>>> 1st Tuple in people list:  ('Mark', 'Harrison', 56)

print("2nd Tuple in people list: ",tup2)
>>> 2nd Tuple in people list:  ('Ken', 'Wolseley', 23)

print("3rd Tuple in people list: ",tup3)
>>> 3rd Tuple in people list:  ('Emily', 'Robinson', 77)

'''

'\ntup1 = people[0] # 1st tuble in the people list\ntup2 = people[1] # 2nd tuble in the people list\ntup3 = people[2] # 3rd tuble in the people list\n\nprint("1st Tuple in people list: ",tup1)\n>>> 1st Tuple in people list:  (\'Mark\', \'Harrison\', 56)\n\nprint("2nd Tuple in people list: ",tup2)\n>>> 2nd Tuple in people list:  (\'Ken\', \'Wolseley\', 23)\n\nprint("3rd Tuple in people list: ",tup3)\n>>> 3rd Tuple in people list:  (\'Emily\', \'Robinson\', 77)\n\n'

In [22]:
# We want to extract the 1st, 2nd, and 3rd elements within the tuples
# Fortunately, the DEF function can extract the elements within the tuples within the people list
# Coupled with the KEY feature within sorted(), the KEY looks at what were defined in the DEF functions 

people = [('Mark', 'Harrison', 56), ('Ken', 'Wolseley', 23), ('Emily', 'Robinson', 77)]

# Creating 3 separate DEFINE functions: 
def first_element_within_tup(tup):
    return tup[0]

def second_element_within_tup(tup):
    return tup[1]

def third_element_within_tup(tup):
    return tup[2]

# Sort 
by_first_name = sorted(people, key=first_element_within_tup)
by_last_name = sorted(people, key=second_element_within_tup)
by_age = sorted(people, key=third_element_within_tup)


print("Sort by Firt Name: ", by_first_name)
print("Sort by Last Name: ", by_last_name)
print("Sort by Age: ", by_age)

Sort by Firt Name:  [('Emily', 'Robinson', 77), ('Ken', 'Wolseley', 23), ('Mark', 'Harrison', 56)]
Sort by Last Name:  [('Mark', 'Harrison', 56), ('Emily', 'Robinson', 77), ('Ken', 'Wolseley', 23)]
Sort by Age:  [('Ken', 'Wolseley', 23), ('Mark', 'Harrison', 56), ('Emily', 'Robinson', 77)]

In [30]:
# A more elegant coding would be to use "lambda" in sorted() 

''' 
KEY FEATURES OF SORTED():

- Syntax: sorted(iterable, key=None, reverse=False)

- Parameters:
     iterable: The sequence (list, tuple, string, etc.) to be sorted.
     key (optional): A function that serves as a key for the sort comparison. For example, key=str.lower will sort strings in a case-insensitive manner.
     reverse (optional): A boolean value. If True, the sorted list is reversed (or sorted in descending order).


- Example: 
    people = [('Mark', 'Harrison', 56), ('Ken', 'Wolseley', 23), ('Emily', 'Robinson', 77)]

    sorted_by_age = sorted(people, key=lambda element_within_tuple: element_within_tuple[2])
    
    print("Sort by Age: ", sorted_by_age)
    >>> Sort by Age: [('Ken', 'Wolseley', 23), ('Mark', 'Harrison', 56), ('Emily', 'Robinson', 77)]

- NOTE: 
     * sorted() returns a new sorted list and does not modify the original iterable.
     * list.sort() is a method that modifies the list in place and returns None.

'''

' \nKEY FEATURES OF SORTED():\n\n- Syntax: sorted(iterable, key=None, reverse=False)\n\n- Parameters:\n     iterable: The sequence (list, tuple, string, etc.) to be sorted.\n     key (optional): A function that serves as a key for the sort comparison. For example, key=str.lower will sort strings in a case-insensitive manner.\n     reverse (optional): A boolean value. If True, the sorted list is reversed (or sorted in descending order).\n\n\n- Example: \n    people = [(\'Mark\', \'Harrison\', 56), (\'Ken\', \'Wolseley\', 23), (\'Emily\', \'Robinson\', 77)]\n\n    sorted_by_age = sorted(people, key=lambda element_within_tuple: element_within_tuple[2])\n    \n    print("Sort by Age: ", sorted_by_age)\n    >>> Sort by Age: [(\'Ken\', \'Wolseley\', 23), (\'Mark\', \'Harrison\', 56), (\'Emily\', \'Robinson\', 77)]\n\n- NOTE: \n     * sorted() returns a new sorted list and does not modify the original iterable.\n     * list.sort() is a method that modifies the list in place and returns None.\n\n'

In [27]:
people = [('Mark', 'Harrison', 56), ('Ken', 'Wolseley', 23), ('Emily', 'Robinson', 77)]

sorted_by_last_name = sorted(people, key=lambda element_within_tuple: element_within_tuple[1])
    
print("Sort by Last Name: ", sorted_by_last_name)

Sort by Last Name:  [('Mark', 'Harrison', 56), ('Emily', 'Robinson', 77), ('Ken', 'Wolseley', 23)]

<details>
  <summary>Answer</summary>

  ```python
  #Here, we have to write functions to get the first, second, and third items in a list.
  #Then, we can use those functions as the keys for sorted().

  people = [('Mark', 'Harrison', 56), ('Ken', 'Wolseley', 23), ('Emily', 'Robinson', 77)]

  def get_first_item(lst):
    return lst[0]

  def get_second_item(lst):
    return lst[1]

  def get_third_item(lst):
    return lst[2]

  by_first_name = sorted(people, key=get_first_item)
  by_last_name = sorted(people, key=get_second_item)
  by_age = sorted(people, key=get_third_item)
  ```
</details>

### 4. Write a function called `dict_intersect` that takes two dictionaries, `d1` and `d2`, as arguments and returns a set that contains only the keys found in both of the original dictionaries.

HINT: Let's break this down into steps. We need to:
*   Get the keys in `d1`
*   Get the keys in  `d2`
*   Convert them both to sets
*   Find their intersection

HINT: Some useful functions and methods are `keys()`, `set()`, and `intersection()`.

In [ ]:
# Your code goes here

<details>
  <summary>Answer</summary>

  ```python
  def dict_intersect(d1, d2):
    '''Return the set of keys found in both d1 and d2.
    >>> dict_intersect({'a': 'A', 'b': 'B', 'c': 'C'}, {'a': 'alpha', 'b': 'beta'})
    {'a', 'b'}
    >>> dict_intersect({'a': 1, 'b': 2}, {'c': 3, 'd': 2})
    set()
    '''
    d1_keys = set(d1.keys())
    d2_keys = set(d2.keys())
    return d1_keys.intersection(d2_keys)
  ```
</details>

### 5. Write a loop that iterates over the two lists below simultaneously. For each pair of values, print the first number divided by the second. When the program encounters a zero divisor, it should skip the pair without printing anything.  

HINT: We can exit a loop early with `break`.

HINT 2: Remember that we can bundle two lists pairwise with `zip()`.

In [ ]:
# Your code goes here

<details>
  <summary>Answer</summary>

  ```python
  dividends = [100, 37.5, -12]
  divisors = [8, 0, -3]

  for x, y in zip(dividends, divisors):
    if y == 0:
      continue
    else:
      print(x/y)
  ```
</details>